<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.it114.android.oneframework.sample1"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name="com.it114.android.oneframework.core.OneApplication">
        <activity android:name=".mvp.login.LoginActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mvp.main.MainActivity"></activity>
        <activity android:name=".mvp.titlebar.TitleBarActivity"></activity>
        <activity android:name=".mvp.fragment.MyFragmentActivity"></activity>
        <activity android:name=".mvp.adapter.AdapterActivity"></activity>
        <activity android:name=".mvp.webview.WebViewActivity"></activity>
    </application>

</manifest>
